{{template "base/base.html" .}}
{{define "head"}}
<title>首页</title>
{{end}}
{{define "body"}}
<!---strat-banner---->
<div class="content">
	 <div class="container">
		 <div class="content-grids">
			 <div class="col-md-8 content-main">
				 <div class="content-grid">
					 <div class="content-grid-head">
						 <h3>发布日期</h3>
						 <h4>时间2017-02-14,发布者: <a href="#">作者</a></h4>
						 <div class="clearfix"></div>
					 </div>
					 <div class="content-grid-info">
						 <h3><a href="single.html">标题1</a></h3>
						 <p>具体内容</p>
						 <img src="static/images/c1.jpg" alt=""/>
						 <a class="bttn" href="single.html">更多</a>
					</div>
				 </div>
				 {{range .Blogs}}
					 <div class="content-grid-sec">
						 <div class="content-sec-info">
							 <h3><a href="single.html?id={{ .UUID}}">{{ .Title}}</a></h3>
							 <h4>{{ .PostTime}},发布者: <a href="#">{{ .Author}}</a></h4>
							 <p>{{ .Content}}</p>
							 <img src="images/c2.jpg" alt=""/>
							 <a class="bttn" href="single.html?id={{ .UUID}}">更多</a>
						 </div>
					 </div>
				 {{end}}

				 <!--<div class="content-grid-sec">-->
					 <!--<div class="content-sec-info">-->
							 <!--<h3><a href="single.html">标题</a></h3>-->
                             <!--<h4>时间2017-02-14,发布者: <a href="#">作者</a></h4>-->
							 <!--<p>内容</p>-->
							 <!--<img src="images/c3.jpg" alt=""/>-->
							 <!--<a class="bttn" href="single.html">更多</a>-->
					 <!--</div>-->
				 <!--</div>				 -->
				 <div class="pages">
					 <ul>
						 <li class="active"><a href="#">1</a></li>
						 <li><a href="#">2</a></li>
						 <li><a href="#">3</a></li>
						 <li><a href="#">4</a></li>
						 <li><a href="#">5</a></li>
						 <li><a href="#">6</a></li>
						 <li><a href="#">上一页</a></li>
						 <li><a href="#">下一页</a></li>
					 </ul>
				 </div>				 
			 </div>
			 
			 <div class="col-md-4 content-main-right">
				 <div class="search">
						 <h3>搜索点这里</h3>
						<form>
							<input type="text" value="" onfocus="this.value=''" onblur="this.value=''">
							<input type="submit" value="">
						</form>
				 </div>
				 <div class="categories">
					 <h3>集合</h3>
					 <li class="active"><a href="#">链接1</a></li>
					 <li><a href="#">链接1</a></li>
					 <li><a href="#">链接3</a></li>
				 </div>
				 <div class="archives">
					 <h3>分类</h3>
					 <li class="active"><a href="#">分类1</a></li>
					 <li><a href="#">分类2</a></li>
					 <li><a href="#">分类3</a></li>
				 </div>
			 </div>
			 <div class="clearfix"></div>
		 </div>
	 </div>
</div>
<!--fotter-->
{{end}}