<div class="banner">
    <div class="header">
        <div class="container">
            <div class="logo">
                <a href="index.html"> <img src="static/images/logo.png" title="soup" /></a>
            </div>
            <!---start-top-nav---->
            <div class="top-menu">
                <span class="menu"> </span>
                <ul>
                    <li class="active"><a href="index.html">主页</a></li>
                    <li><a href="contact.html">联系方式</a></li>
                    <!--<li><a href="terms.html">其他</a></li>-->
                    <li><a href="newblog.html">添加博客</a></li>
                    <div class="clearfix"> </div>
                </ul>
            </div>
            <script>
					$("span.menu").click(function(){
					$(".top-menu ul").slideToggle("slow" , function(){
					});
					});
					</script>
            <!---//End-top-nav---->
        </div>
    </div>
    <div class="container">
        <div class="banner-head">
            <h1>斜阳草树，寻常巷陌，人道寄奴曾住</h1>
            <h2>知行合一</h2>
        </div>
    </div>
</div>